<div class="header">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<a href="" class="logo"><img src="/assets/images/logo.gif" alt="logo" /></a>
			</div>
		</div>
	</div>
</div>
<div class="banner text-center">
	<img src="/assets/images/mark.png" alt="banner mark" />
	<h1>Welcome back {{fname}}.</h1>
	<h3>We have some more offers for you to take a look at.</h3>
</div>
<div class="container text-center" style="margin: 70px auto;">
	<h1>You are on the success page!</h1>
</div>
<div class="footer">
	<div class="footer-holder">
		<ul>
			<li><a href="">Privacy Policy</a></li><li><a href="">Terms &amp; Conditions</a></li><li><a href="mailto:postman@freegroceries.com.au?subject=Free Groceries Enquiry">Contact Us</a></li>
		</ul>
		<p>Freegroceries.com.au is an independent rewards program for consumers and is not affiliated with, sponsored by or endorsed by any of the listed products or retailers. Trademarks, service marks, logos, and/or domain names (including, without limitation, the individual names of products and retailers) are the property of their respective owners.</p>
	</div>
</div>