<div class="header">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<a href="" class="logo"><img src="/assets/images/logo.gif" alt="logo" /></a>
			</div>
		</div>
	</div>
</div>
<div class="banner text-center">
	<img src="/assets/images/mark.png" alt="banner mark" />
	<h1>You are almost there!</h1>
	<h3>Simply complete the offers below so we know what deals interest you. All offers are FREE &amp; take 1~2 mins.</h3>
</div>
<div class="container offers-list">
	<div class="row" *ngIf="isDataAvailable">
		<div *ngFor="let offer of offers; let i= index" class="col-lg-12 offer-item" [hidden]="offer.passed">
			<div *ngIf="offer.enabled">
				<div class="col-lg-3 text-center offer-image">
					<img src={{offer.img_url}} />
				</div>
				<div class="col-lg-7">
					{{offer.description}}
					<div *ngIf="offer.new_cfields.length>0">
						<hr />
						<div *ngFor="let cfield of offer.new_cfields" class="panel panel-info">
							<div class="panel-heading">
								{{i+1}}. {{cfield.description}}
							</div>
							<div class="panel-body">
								<div *ngIf="cfield.type=='radio'" class="radio">
						            <label *ngFor="let val of cfield.values" class="radio-inline">
										<input type="radio" name="offer{{i}}-cfields-cfield-value[]" [(ngModel)]="cfield.selectedValue" [value]="val.value" />
										{{val.label}}
						            </label>
								</div>
								<div *ngIf="cfield.type=='checkbox'" class="checkbox">
									<label *ngFor="let val of cfield.values" class="checkbox-inline">
										<input type="checkbox" name="offer{{i}}-cfields-cfield-value[]" name="{{cfield.key}}[]" [value]="val.value" />
										{{val.label}}
									</label>
								</div>
								<div *ngIf="cfield.type=='select'">
									<select class="form-control" [(ngModel)]="cfield.selectedValue">
										<option></option>
										<option *ngFor="let val of cfield.values" [value]="val.value">{{val.label}}</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 text-center offer-action">
					<a href="javascript:void(0)" class="btn_yes btn_offer" (click)="onClickYes(offer)">Yes</a> <a href="javascript:void(0)" class="btn_no btn_offer" (click)="onClickNo(offer)">No</a>
				</div>
			</div>
			<div *ngIf="!offer.enabled">
				<div class="panel panel-danger">
					<div class="panel-heading">
						{{offer.preqst.description}}
					</div>
					<div class="panel-body">
						<div *ngIf="offer.preqst.type=='radio'" class="radio">
							<label *ngFor="let val of offer.preqst.values" class="radio-inline">
								<input type="radio" [(ngModel)]="offer.preqst.selectedValue" [value]="val.value" />
								{{val.label}}
							</label>
						</div>
						<div *ngIf="offer.preqst.type=='select'">
							<select class="form-control" [(ngModel)]="offer.preqst.selectedValue">
								<option></option>
								<option *ngFor="let val of offer.preqst.values" [value]="val.value">{{val.label}}</option>
							</select>
						</div>
					</div>
					<div class="panel-footer">
						<a href="javascript:void(0)" class="btn_confirm btn_offer" (click)="onClickConfirm(offer)">Confirm</a>
						<a href="javascript:void(0)" class="btn_dismiss btn_offer" (click)="onClickNo(offer)">Dismiss</a>
					</div>
				</div>
			</div>
		</div>
		<div *ngIf="showNextButton" class="next-area col-lg-12 text-center"><a class="btn_next btn_offer" href="/success">Next</a></div>
	</div>
	<div class="row" *ngIf="!isDataAvailable">
		<h2>No offers available.</h2>
	</div>
</div>
<div class="footer">
	<div class="footer-holder">
		<ul>
			<li><a href="">Privacy Policy</a></li><li><a href="">Terms &amp; Conditions</a></li><li><a href="mailto:postman@freegroceries.com.au?subject=Free Groceries Enquiry">Contact Us</a></li>
		</ul>
		<p>Freegroceries.com.au is an independent rewards program for consumers and is not affiliated with, sponsored by or endorsed by any of the listed products or retailers. Trademarks, service marks, logos, and/or domain names (including, without limitation, the individual names of products and retailers) are the property of their respective owners.</p>
	</div>
</div>